*.RData
*.Rhistory
*.Rproj.user/
*.Rproj
.Rproj.user
GFW/
.httr-oauth
raw_data/spatial/wind
*/sst_Reynolds.nc
.dropbox
.ini
*.ini
*.log
data/sst_*
.RDataTmp
raw_data/*
raw_data/gridded_ff_by_gear_country.rds
slides/*
